device/*/
!device/.gitkeep
cores/*/libADLMIDI/
cores/*/libOPNMIDI/
cores/*/*.so
ports/picoloop/src/
ports/picoloop/picoloop
ports/picoloop/lib/
*.o
__pycache__/
*.wav
*-shot-*.png
ports/picoloop/font.*
ports/picoloop/patch/
